Source: ros-noetic-cob-driver
Section: misc
Priority: optional
Maintainer: Felix Messmer <felixmessmer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: http://ros.org/wiki/cob_driver
Standards-Version: 3.9.2

Package: ros-noetic-cob-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-cob-light, ros-noetic-cob-mimic, ros-noetic-cob-phidgets, ros-noetic-cob-scan-unifier, ros-noetic-cob-sick-s300, ros-noetic-cob-sound, ros-noetic-laser-scan-densifier
Description: The cob_driver stack includes packages that provide access to the Care-O-bot hardware through ROS messages, services and actions.
 E.g. for mobile base, arm, camera sensors, laser scanners, etc...
